* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

main {
    /*max-width: 56.25rem;*/
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 8.5rem;
    position: relative;
}

.header {
    max-width: 56.25rem;
    margin: 0 auto;
    position: relative;
}

.favorites {
    color: #673ab7;
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.favorites:hover {
    cursor: pointer;
}

.favorites img {
    margin-right: 0.5rem;
}

.logo {
    margin-bottom: 3.125rem;
}

.input {
    width: 28.5rem;
    height: 1.5rem;
    border: 2px solid #adafb2;
    border-radius: 10px;
    padding-left: 1.25rem;
    color: #6d6e71;
    font-family: Comfortaa;
    font-weight: 400;
}

.input:active, .input:focus, button:focus {
    outline: none;
}

.btn {
    height: 1.5rem;
    color: #fff;
    background-color: #cddc39;
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 0.875rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    border-radius: 10px;
}

.submit {
    margin-left: 0.875rem;
}

.showMore {
    margin-top: 1.875rem;
}

.result {
    position: relative;
    margin-top: 1.875rem;
}

.gallery {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 56.25rem;
    margin: 0 auto;
    position: relative;
}

.card {
    width: 208px;
    height: 120px;
    background-color: black;
    margin-bottom: 0.75rem;
    overflow: hidden;
}

.img {
    text-align: center;
    width: auto;
    height: 100%;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #adafb2;
    margin: 0 auto;
    padding: 0px;
    padding-top: 3.375rem;
    max-width: 56.25rem;
    background-color: transparent;
}

.controls {
    width: 7.125rem;
    background-color: #673ab7;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1rem;
}

.controls button {
    border: none;
    outline: none;
    cursor: pointer;
}

.control {
    color: #fff;
    font-size: 26px;
    background: transparent;
}

.icons__container {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.icons__link {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    stroke: #fff;
    stroke-width: 1px;
}

.icons__container:hover .icons__link {
    fill: #cddc39;
}



